{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Course Management System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/coursemanagement/app1.js"></script>
</head>
<body align="left">

<div class="container" align="left">
  <h2>Course Management System</h2>
  <ul class="nav nav-tabs" align="left">
    <li class="active" align="left">
      <a data-toggle="tab" href="#home">Home</a></li>
    <li><a data-toggle="tab" href="#menu1">Add Student</a></li>
    <li><a data-toggle="tab" href="#menu2">Add Course</a></li>
    <li><a data-toggle="tab" href="#menu3">Enroll Student</a></li>
    <li><a data-toggle="tab" href="#menu4">Award Grade</a></li>
    <li><a data-toggle="tab" href="#menu5">Compute GPA</a></li>
    <li><a data-toggle="tab" href="#menu6">Generate Transcript</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>HOME</h3>
      <p>Welcome to CMS. Please Browse through the options for doing operations</p>
    </div>
    <div id="menu1" class="tab-pane fade" align="center">
      <h3>Add Student</h3>
      <input type="text" name="student_name" id="text_std" ><br>
      <input type="button" name="submit" value="submit" id="submit_std" onclick="send_stddata()">
    
    </div>
    <div id="menu2" class="tab-pane fade" align="center">
      <h3>Add a Course</h3>
     <input type="text" name="course_name" id="text_crs" ><br>
      <input type="button" name="submit" value="submit" id="submit_crs" onclick="send_coursedata()">
    </div>


    <div id="menu3" class="tab-pane fade" align="center">
      <h3>Enroll Student to Course</h3>
      Choose a Student:<select>
      </select>
      <br>                                  <!-- Java script goes here to populate the names and courses from the DB-->
      Choose a Course:<select>
      </select><br>
      <input type="button" name="submit" value="submit">
    </div>

<div id="menu4" class="tab-pane fade" align="center">
      <h3>Award Grade</h3>
     Choose a Student:<select>
      </select>
      <br>
      Choose a Course:<select>      <!-- Java script goes here to populate the names and courses from the DB-->
      </select><br>
      <input type="number" name="points" min="0" max="10"><br>

      <!--I've limited the range to 10 so no need of any additional JS here-->
      
      <input type="button" name="submit" value="submit">
    </div>


<div id="menu5" class="tab-pane fade" align="center">
      <h3>Compute GPA</h3>
      <p>Press Compute to Compute all the GPA of all students</p><br>
      <input type="button" value="compute">  <!-- Java script goes here to compute all the GPAs and reflect in the Db-->

    </div>


    <div id="menu6" class="tab-pane fade" align="center">
      <h3>Generate Transcript</h3>
      Choose a Student:<select>
      </select>                           <!-- Java script goes here to populate the name of student from DB -->
      <br>
      <input type="button" value="Generate"><br> <!-- Java scrit goes here for the generate function taking values from the Db-->
      <textarea rows="4" cols="50"></textarea>
    </div>








  </div>
</div>
<script>
      function  send_stddata() {
           //name=document.getElementById('text_std').value;
          var input_string = $("#text_std").val();
          alert(input_string);
          var data={Student_name : input_string}

          data = JSON.stringify(data);
          alert( data);
                   $.post("/coursemanagement/addStudent/", data)
				.done(function(data){
					console.log("Success:" + data);
					data = JSON.parse(data)
          });
          {% comment %}var studentData = {
		    "Student_name" : name
		  };
          var student_Data = JSON.stringify(studentData);alert(student_Data);
          var toaddrs="/coursemanagement/addStudent";var fromaddrs="send_stddata"; var data=student_Data;
          senddata(toaddrs,fromaddrs,data);{% endcomment %}
      }
      function  send_coursedata () {
         var courseData = {
		    Course_name: document.getElementById('text_std').value
		  };
          // var course_Data = JSON.stringify(courseData);alert(course_Data);
           var toaddrs="/coursemanagement/addCourse";var fromaddrs="send_coursedata"; var data=courseData;
          senddata(toaddrs,fromaddrs,data);
      }
      function senddata(toaddrs,fromaddrs,data){
          /*$.post(toaddrs, data)
				.done(function(data){
					console.log("Success:" + data);
					data = JSON.parse(data)
          });*/
          $.ajax({
		    type: 'POST',
            contentType: "application/json",
            url: toaddrs,
		    dataType: 'json',
		    data: data,
		    success: function (data) {
			console.log( JSON.stringify(data));
		    },
		    error: function () {
			alert("failure");
		    }
		});

      }
</script>
</body>
</html>
